.about {
    padding-top: 40px;
    padding-bottom: 60px;
    background: $color-10;

    .section-header {
        justify-content: center;

        .section-title {
            font-size: 15pt;
            text-align: center;
        }
    }

    .about-text {
        max-width: 415px;
        margin-top: 30px;
        text-align: center;
    }
}

//Страница about
.about-page {
    .page-header {
        padding: 65px 0;

        .section-header {
            max-width: max-content;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        .content {
            position: relative;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 25px;

            .img-block {
                margin-top: 30px;
            }

            .text-block {
                max-width: 820px;
                margin-top: 30px;
                font-size: 14pt;
                font-weight: 300;
                color: $color-7;

                .text:last-of-type {
                    margin-top: 30px;
                }
            }

            &::before {
                content: '';
                max-width: 300px;
                width: 100%;
                height: 2px;
                background: rgba($color: $color-7, $alpha: 0.2);
            }
        }
    }

    .desc {
        padding-top: 50px;
        padding-bottom: 160px;
        background: $color-10;

        .section-title {
            font-weight: normal;
            text-align: right;
        }

        .row {
            margin-top: 30px;

            .col {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 35px;

                .content {
                    flex: 0 0 100%;

                    .title {
                        margin-top: 30px;
                        font-size: 16pt;
                        color: $color-4;
                        text-transform: uppercase;
                        
                        span {
                            font-weight: lighter;
                            color: $color-2;
                        }
                    }

                    .text {
                        font-size: 14pt;
                        font-weight: 300;
                        line-height: 22pt;
                        color: $color-7;
                    }
                }

                &:nth-of-type(even) {
                    flex-direction: row-reverse;

                    .content {
                        .text {
                            margin-top: 35px;
                        }
                    }
                }

                &:first-of-type {
                    .img-block {
                        max-width: 560px;

                        img {
                            width: 100%;
                        }
                    }

                    .content {
                        .title {
                            position: relative;
                            padding-bottom: 30px;
                            padding-right: 0;
                            text-align: right;

                            &::after {
                                content: '';
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                max-width: 300px;
                                width: 100%;
                                height: 2px;
                                background: rgba($color: $color-7, $alpha: 0.2);
                            }
                        }

                        .text {
                            margin-top: 65px;
                        }
                    }
                }

                &:last-of-type {
                    .content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex: 0 0 100%;

                        .title {
                            padding-bottom: 30px;
                            text-align: right;
                        }

                        .text {
                            position: relative;
                            flex: 0 0 100%;
                            padding-top: 30px;

                            &::before {
                                content: '';
                                position: absolute;
                                right: 0;
                                left: auto;
                                top: 0;
                                max-width: 300px;
                                width: 100%;
                                height: 2px;
                                background: rgba($color: $color-7, $alpha: 0.2);
                            }
                        }
                    }
                }
            }
        }
    }
}