.banner {
    padding: 20px 0;
    background: $color-10;

    .slider {
        height: 400px;

        .slider-col {
            height: 100%;
        }

        .slider__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .products {
        .col {
            flex: 0 0 100%;

            .col-inner {
                position: relative;
                width: 100%;
                height: 210px;
                padding: 40px;
                background: $color-11;

                .stick {
                    position: absolute;
                    left: 0;
                    top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 155px;
                    height: 35px;
                    font-weight: bold;
                    font-size: 15px;
                    letter-spacing: 0.5px;
                    background: $color-1;
                }

                .banner-img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                .banner-link {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}