.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background: $color-6;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .col {
            max-width: 320px;
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            .footer-menu {
                .footer-link {
                    display: block;
                    padding-bottom: 20px;
                    color: $color-1;
                    text-transform: uppercase;
                }
            }

            .contact {
                padding: 10px 25px 20px 25px;
                background: $color-2;

                .contact-title {
                    margin-bottom: 40px;
                    color: $color-1;
                }

                .contact-blocks {
                    margin-bottom: 15px;

                    span {
                        padding-right: 15px;
                        font-size: 15px;
                        color: $color-4;
                    }

                    .contact-link {
                        color: $color-1;
                    }

                    &:last-of-type {
                        margin-bottom: 0;

                        .contact-link {
                            color: $color-4;
                        }
                    }
                }
            }

            .callback-link {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
                margin-top: 20px;
                color: $color-1;
                border-style: solid;
                border-color: $color-2;
                border-left-width: 20px;
                border-right-width: 20px;
                border-top-width: 10px;
                border-bottom-width: 10px;
                background: $color-9;
            }

            &:nth-of-type(2) {
                justify-content: space-around;
            }
        }
    }
}