.header {
    .header__top-wrap {
        height: 95px;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .col {
                display: flex;

                .search {
                    position: relative;

                    .search__input {
                        width: 380px;
                        height: 40px;
                        padding-left: 10px;
                        border: 1px solid rgba($color: $color-7, $alpha: 0.5);
                        border-radius: 5px;
                        outline: none;
                    }

                    .search__btn {
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        transform: translateY(-50%);

                        span {
                            color: rgba($color: $color-7, $alpha: 0.5);
                        }
                    }
                }

                .phone {
                    display: none;
                    align-items: center;

                    .phone-icon {
                        font-size: 18px;
                        color: rgba($color: $color-7, $alpha: 0.8);
                        height: 35px;
                    }

                    .phone-inner {
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;

                        .phone-link {
                            display: flex;
                            align-items: center;
                            font-size: 15px;
                            font-weight: bold;
                            color: $color-3;
                        }

                        .phone-order {
                            font-size: 14px;
                            color: $color-3;
                            cursor: pointer;
                        }

                        .phone-link:hover, .phone-order:hover {
                            color: $color-5;

                            span {
                                color: $color-5;
                            }
                        }
                    }
                }

                .profile-link {
                    color: $color-7;

                    span {
                        font-size: 32px;
                    }
                }

                &:nth-of-type(1) {
                    flex: 0 0 20%;
                    justify-content: center;
                }

                &:nth-of-type(2) {
                    display: none;
                    flex: 0 0 45%;
                    justify-content: flex-end;
                }

                &:nth-of-type(3) {
                    flex: 0 0 35%;
                    justify-content: space-around;
                }
            }
        }
    }

    .navbar {
        display: none;
        background: $color-3;

        .container {
            padding: 0;
        }

        .navbar-menu {
            display: flex;
            flex-wrap: wrap;

            .navbar-item {
                flex: 1 0 100%;

                .navbar-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 55px;
                    margin: 0 -1px;
                    color: $color-1;
                    border-left: 2px solid $color-8;
                    border-right: 2px solid $color-8;
                    font-size: 10pt;
                    font-weight: 300;
                    text-align: center;
                    text-transform: uppercase;
    
                    &:hover {
                        background: $color-8;
                    }
                }
            }

            .dropdown-item {
                display: block;

                .navbar-menu {
                    display: none;
                    height: 0;
                }
            }
        }
    }
}