.banner {
    position: relative;
    height: 315px;

    .banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .navbar {
        position: absolute;
        left: 50%;
        bottom: 30px;
        padding: 0;
        max-width: max-content;
        width: 100%;
        transform: translateX(-50%);
        border-radius: 5px;

        .container {
            display: block !important;
        }

        .nav-menu {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 45px;
            background: $color-1;

            .nav-item {
                height: 100%;

                .nav-link {
                    display: flex;
                    align-items: center;
                    padding: 15px 30px;
                    height: 100%;
                    font-weight: 500;
                    color: $color-3;
                    letter-spacing: 0.4px;

                    .icon {
                        margin-right: 10px;
                    }

                    &:hover, &.active {
                        color: $color-1;
                        background: $color-3;
                    }
                }

                .search-form {
                    padding: 5px 10px;

                    label {
                        position: relative;
                        margin: 0;

                        .search-input {
                            max-width: 270px;
                            width: 100%;
                            height: 35px;
                            padding: 0 10px;
                            opacity: 0.6;
                            outline: none;
                        }

                        span {
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            color: $color-3;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.main {
    .content {
        padding-top: 30px;
        padding-bottom: 45px;
        
        .row {
            display: flex;
            flex-wrap: wrap;

            .col {
                position: relative;
                text-align: center;
                border-radius: 5px;
                box-shadow: 0 0 4px rgb(0 0 0 / 20%);

                .swiper-news {
                    height: 100%;

                    .swiper-pagination {
                        .swiper-pagination-bullet {
                            width: 6px;
                            height: 6px;

                            &.swiper-pagination-bullet-active {
                                background: $color-6;
                            }
                        }
                    }
                }

                .news-col {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    text-align: left;

                    .img-block {
                        width: 100%;
                        height: 100%;

                        img {
                            height: 95px;
                        }
                    }

                    .news-wrap {
                        margin-top: 5px;
                        margin-left: 25px;

                        .news-title {
                            display: block;
                            max-width: 315px;
                            font-size: 16px;
                            font-weight: bold;
                        }

                        .news-subtitle {
                            margin-top: 15px;
                            opacity: 0.6;
                        }
                    }
                }

                .img-block {
                    img {
                        width: 100%;
                    }
                }

                .search__inner {
                    width: 100%;
    
                    .wrap {
                        width: 100%;
                        padding: 22px;
                        background: $color-3;
                        border-radius: 5px;
    
                        .search__form {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
    
                            .search__input {
                                width: 100%;
                                height: 35px;
                                margin-top: 30px;
                                padding-left: 15px;
                                font-family: 'Roboto', Arial, sans-serif;
                                font-size: 16px;
                                border: none;
                                border-radius: 5px;
                                outline: none;
                            }
                
                            .search__submit {
                                width: 100%;
                                height: 35px;
                                margin-top: 15px;
                                font-size: 16px;
                                font-weight: 500;
                                color: $color-1;
                                background: $color-6;
                                border-radius: 5px;
                                border: none;
                                text-transform: uppercase;
                                cursor: pointer;
                            }
                        }
                    }
    
                    &:nth-of-type(2) {
                        position: relative;
                        padding: 15px 25px;
                        box-shadow: 0 0 4px rgba($color: $color-2, $alpha: 0.2);
    
                        .title {
                            position: absolute;
                            bottom: 25px;
                        }
    
                        .img-block {
                            max-width: 360px;
                            float: right;
    
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &:first-of-type {
                .col {
                    &:first-of-type {
                        max-height: 180px;
                        border-left: 5px solid #f3ae41;
                    }
                }
            }

            &:first-of-type, &:nth-of-type(2) {
                .col {
                    flex: 1 0 100%;

                    &:first-of-type {
                        margin-bottom: 15px;
                    }

                    &:last-of-type {
                        margin-top: 15px;
                    }
                }
            }

            &:nth-of-type(2) {
                .col {
                    max-height: 230px;

                    .title {
                        bottom: 5px;
                    }
                }
            }

            &:nth-of-type(2), &:last-of-type {
                margin-top: 30px;

                .col {
                    a {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
    
                    .title {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            &:last-of-type {
                .col {
                    flex: 1 0 100%;
                    max-height: 255px;
                    margin: 15px 0;

                    .img-block {
                        max-width: 255px;
                        margin: 0 auto;
                    }

                    .title {
                        bottom: 25px;
                    }
                    
                    &:first-of-type {
                        margin-top: 0;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}