.manufacturers {
    .page-header {
        padding-top: 65px;
        padding-bottom: 35px;

        .container {
            max-width: 875px;
            margin: 0 auto;

            .page-title {
                font-size: 19pt;
                text-transform: uppercase;
            }

            .page-text {
                height: 75px;
                padding-top: 20px;
                font-size: 11pt;
                font-weight: 300;
                overflow: hidden;
            }
        }
    }

    .manufacturers-list {
        padding-bottom: 50px;
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .col {
                display: flex;
                flex-direction: column;
                flex: 0 0 100%;
                margin: 15px;
                padding: 20px 15px;
                border: 1px solid rgba($color: $color-7, $alpha: 0.1);
                border-radius: 3px;

                .img-block {
                    max-width: 200px;
                    height: 200px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .title {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        font-size: 16pt;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $color-4;
                        border-bottom: 1px solid rgba($color: $color-7, $alpha: 0.1);
                    }

                    .text {
                        height: 100px;
                        padding-top: 15px;
                        font-weight: 300;
                        overflow: hidden;
                    }

                    .link {
                        display: flex;
                        justify-content: flex-end;
                        padding-top: 15px;
                        font-size: 10pt;
                        color: $color-4;

                        span {
                            padding-left: 15px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}