@media (min-width: 768px) {
    .container {
        padding: 0 45px;
    }

    .section-header {
        flex-direction: row;
        align-items: flex-end;
    }

    .section-title {
        font-size: 25pt;
    }

    .section-link {
        font-size: 13pt;
        margin-left: 60px;
    }

    .header {
        .header__top-wrap {
            .container {
                justify-content: space-between;
                padding: 0 45px;

                .col {
                    .phone {
                        display: flex;
                    }

                    .menu-toggle {
                        display: none;
                    }
                }
            }
        }

        .navbar {
            display: block;
            
            .navbar-menu {
                .navbar-item {
                    flex-basis: 33%;
                }

                .dropdown-item {
                    display: none;
                }
            }
        }
    }

    .banner {
        .products {
            .col {
                display: flex;
                flex: 0 0 50%;
            }
        }
    }

    .about {
        .section-header {
            .section-title {
                font-size: 30px;
            }
        }

        .about-text {
            margin-top: 0;
            text-align: left;
        }
    }

    .manufacturers {
        .manufacturers-list {
            .row {
                .col {
                    flex: 0 0 45%;
                }
            }
        }
    }

    .works {
        .page-header {
            .container {
                .col {
                    flex: 0 0 50%;
                }
            }
        }

        .warranty {
            .container {
                .left-block {
                    .col {
                        flex: 1 0 45%;
                        padding: 0;
                    }
                }

                .right-block {
                    .section-title {
                        font-size: 24pt;
                    }
                }
            }
        }

        .data {
            .container {
                .left-block {
                    display: flex;
                    flex-wrap: wrap;

                    .section-title {
                        width: 100%;
                        font-size: 24pt;
                    }

                    .col {
                        padding: 0 5px;
                    }
                }
            }
        }

        .consider {
            .container {
                flex-direction: row;

                .left-block {
                    flex: 0 0 30%;
                }

                .right-block {
                    flex: unset;
                    margin-left: 30px;

                    .section-title {
                        font-size: 29pt;

                        span {
                            font-size: 25pt;
                        }
                    }
                }
            }
        }
    }

    .docs {
        .page-header {
            .container {
                .col {
                    flex: 0 0 50%;
                }
            }
        }

        .content {
            .container {
                .col {
                    flex: 0 0 42%;
                    padding-left: 45px;
                    margin: 0 30px;

                    &:first-of-type {
                        padding-left: 0;
                        margin-left: 0;
                    }

                    &:last-of-type {
                        margin-right: 0;
                        border-left: 1px solid rgba($color: $color-7, $alpha: 0.2);
                    }
                }
            }
        }
    }

    .about-page {
        .page-header {
            .content {
                flex-wrap: nowrap;

                .img-block {
                    margin-top: 0;
                }

                .text-block {
                    margin-left: 70px;
                    margin-top: 0;
                }

                &::before {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                }
            }
        }

        .desc {
            .row {
                .col {
                    .content {
                        .title {
                            margin-top: 0;
                            font-size: 24pt;
                        }
                    }

                    &:first-of-type {
                        .content {
                            .title {
                                padding-right: 135px;
                            }
                        }
                    }
                }
            }
        }
    }

    .advans {
        .row {
            .col {
                flex: 1 0 45%;
            }
        }
    }

    .news {
        .row {
            .col {
                flex: 1 0 45%;
                margin: 15px;
                height: unset;

                .wrap {
                    .other-col {
                        flex: 0 0 50%;
                    }
                }
            }
        }
    }

    .news-page {
        .section-title {
            margin-left: 15px;
        }

        .row {
            .col {
                flex: 1 0 45% !important;
                margin: 15px !important;
            }
        }
    }

    .subscribe {
        .form-sub {
            .col {
                flex: 0 0 50%;
                padding: 0 15px;

                &.lic-col {
                    label {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }

    .contacts {
        .info {
            .contact-info {
                .row {
                    .col {
                        flex: 0 0 50%;
                    }
                }
            }
        }
    }

    .footer {
        .container {
            .col {
                flex: 0 0 40%;
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        .header__top-wrap {
            .container {
                .col {
                    &:nth-of-type(2) {
                        display: block;
                        text-align: right;
                    }
                }
            }
        }
    }

    .advans {
        .row {
            .col {
                flex: 1 0 25%;
                margin: 0;
            }
        }
    }

    .contacts {
        .subscribe {
            .form-sub {
                .col {
                    flex: 0 0 50%;
                }
            }
        }
    }

    .about-page {
        .page-header {
            .content {
                .text-block {
                    margin-left: 120px;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .header {
        .navbar {
            .navbar-menu {
                .navbar-item {
                    flex-basis: 16%;
                }
            }
        }
    }

    .banner {
        .products {
            display: flex;

            .col {
                display: flex;
                flex: 0 0 50%;
            }
        }
    }

    .about {
        .section-header {
            .section-title {
                padding-right: 210px;
                font-size: 35px;

                span {
                    padding-right: 300px;
                }
            }
        }

        .about-text {
            position: relative;
            float: right;
            right: 100px;
            bottom: 40px;
        }
    }

    .manufacturers {
        .manufacturers-list {
            .row {
                .col {
                    flex-direction: row;

                    .content {
                        padding-left: 30px;

                        .title {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }

    .works {
        .page-header {
            .container {
                .col {
                    flex: 0 0 30%;
                    margin: 0;

                    .content {
                        flex-direction: row;
                        align-items: start;

                        .img-block {
                            margin-right: 50px;
                        }

                        .text {
                            margin-top: 0;
                        }
                    }

                    &:first-of-type {
                        margin-right: 75px;
                    }
    
                    &:last-of-type {
                        margin-left: 75px;
                    }
                }
            }
        }

        .warranty {
            .container {
                flex-wrap: nowrap;

                .left-block {
                    flex: 0 0 50%;

                    .col {
                        flex: 0 0 100%;
                        margin: 5px auto;
                    }
                }

                .right-block {
                    margin-top: 0;

                    .text {
                        &:first-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .installation {
            .container {
                flex-direction: row;

                .left-block {
                    flex: 0 0 50%;
                    margin-top: 0;
                    margin-right: 100px;
                }
            }
        }

        .data {
            .container {
                flex-direction: row;

                .left-block {
                    display: block;
                    flex: 0 0 50%;

                    .section-title {
                        width: unset;
                    }

                    .col {
                        padding: 0;
                        margin-top: 0;
                    }
                }

                .right-block {
                    margin-top: 0;
                }
            }
        }

        .desc {
            .container {
                flex-direction: row;
                
                .left-block {
                    flex: 0 0 50%;
                    margin-top: 0;
                    margin-right: 80px;
                }

                .right-block {
                    flex: unset;

                    .img-block {
                        position: absolute;
                        top: -30px;
                    }
                }
            }
        }

        .consider {
            .container {
                .left-block {
                    justify-content: flex-end;
                    flex: 0 0 35%;
                    margin-right: 130px;
                }

                .right-block {
                    flex: 0 0 50%;
                    margin-top: 0;
                }
            }
        }
    }

    .docs {
        .page-header {
            .container {
                .col {
                    flex: 0 0 40%;
                    margin: 0;

                    .content {
                        flex-direction: row;
                        align-items: start;

                        .img-block {
                            margin-right: 50px;
                        }

                        .text {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    .about-page {
        .page-header {
            .content {
                &::before {
                    position: absolute;
                    left: 25%;
                    top: 0;
                    transform: unset;
                }
            }
        }

        .desc {
            .row {
                .col {
                    .content {
                        flex: 0 0 50%;
                    }

                    &:nth-of-type(even) {
                        .content {
                            margin-right: 60px;
                        }
                    }

                    &:first-of-type {
                        .content {
                            margin-left: 85px;
                        }
                    }

                    &:last-of-type {
                        .content {
                            flex-direction: row;

                            .title {
                                padding-bottom: 0;
                            }

                            .text {
                                flex: 0 0 50%;
                                margin-left: 40px;

                                &::before {
                                    right: auto;
                                    left: -20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .news {
        .row {
            .col {
                .wrap {
                    .other-col {
                        flex: 0 0 25%;
                    }
                }
            }
        }
    }

    .news-page {
        .row {
            .col {
                flex: 1 0 30% !important;
            }
        }
    }


    .subscribe {
        .form-sub {
            .col {
                flex: 0 0 25%;
                margin: 0;
            }
        }
    }

    .contacts {
        .info {
            .contact-info {
                .row {
                    padding: 25px 0;
    
                    .col {
                        flex: unset;
                        margin: 0;
                    }
                }
            }
        }
    }

    .footer {
        padding-bottom: 190px;

        .container {
            justify-content: start;
            .col {
                flex-direction: row;
                justify-content: flex-start;
                max-width: unset;

                .footer-menu {
                    margin: 0 50px;
                    padding-top: 25px;
                }

                .callback-link {
                    max-width: 355px;
                    width: 100%;
                    margin-top: 0;
                }

                &:nth-of-type(2) {
                    flex: 0 0 60%;
                }
            }
        }
    }
}

@media (min-width: 1441px) {
    .banner {
        .slider {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            max-width: 650px;
            width: 100%;
        }

        .products {
            justify-content: space-between;

            .col {
                display: block;
                flex: 0 0 25%;
                max-width: 475px;
            }
        }
    }

    .about {
        .about-text {
            right: 225px;
        }
    }

    .partners {
        .swiper-partnets {
            margin-right: -60px;
            margin-left: -60px;
        }
    }

    .news {
        .row {
            flex-wrap: nowrap;

            .col {
                max-width: 465px;
                flex: 0 0 33%;
                margin: 0 15px;

                .wrap {
                    flex-direction: column;
                    padding-left: 15px;
                    border-left: 1px solid rgba($color: $color-7, $alpha: 0.2);
                }

                &:last-of-type {
                    flex: 0 0 33%;
                }
            }
        }
    }
}