@media (min-width: 768px) {
    .header {
        .top-wrap {
            .container {
                justify-content: unset;
            }

            .right-col {
                display: flex;
                max-width: unset;

                .context {
                    display: block;
                    padding-top: 5px;
                }
                
                .wrap {
                    max-width: 115px;

                    .signin {
                        background: $color-5;

                        .text {
                            display: block;
                        }
                    }
                }
            }
        }

        .navbar {
            .nav-menu {
                position: relative;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                padding: 0;

                .nav-item {
                    flex: 0;

                    .nav-link {
                        padding: 10px;
                    }

                    .search-open {
                        display: block;
                        padding: 0;
                    }

                    &.close {
                        display: none;
                    }

                    &.search {
                        max-width: 30px;
                        margin-right: 0;
                        margin-left: 0;

                        .nav-search {
                            position: absolute;
                            right: -15px;
                            top: 45px;
                            display: none;
                            max-width: 250px;
                            margin-left: 0;
                            padding: 10px 50px 10px 10px;
                            background: $color-3;

                            &.show {
                                display: block;
                            }
                        }
                    }

                    &.sign {
                        display: none;
                    }
                }
            }

            .menu-open {
                display: none;
            }
    
            .nav-search {
                display: none;
            }
        }
    }

    .main {
        .content {
            .row {
                .col {
                    .news-col {
                        flex-wrap: nowrap;
                        
                        .img-block {
                            width: unset;
                            height: 100%;

                            img {
                                height: 95px;
                            }
                        }

                        .news-wrap {
                            margin-top: 0;
                        }
                    }

                    .search__inner {
                        .wrap {
                            .search__form {
                                justify-content: space-between;
                                flex-wrap: nowrap;

                                .search__input {
                                    margin-left: 25px;
                                    margin-right: 15px;
                                }

                                .search__submit {
                                    max-width: 160px;
                                }

                                .search__input, .search__submit {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }

                &:first-of-type {
                    .col {
                        max-height: 95px;

                        &:first-of-type {
                            max-height: 95px;
                        }
                    }
                }

                &:nth-of-type(2) {
                    .col {
                        flex: 1 0 45%;

                        &:first-of-type {
                            margin-bottom: 0;
                            margin-right: 15px;
                        }
    
                        &:last-of-type {
                            margin-top: 0;
                            margin-left: 15px;
                        }
                    }
                }

                &:last-of-type {
                    .col {
                        flex: 1 0 45%;
                        margin-right: 15px;
                        margin-left: 15px;

                        &:first-of-type, &:nth-of-type(2) {
                            margin-top: 0;
                        }

                        &:nth-of-type(odd) {
                            margin-left: 0;
                        }

                        &:nth-of-type(even) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .about-wrap {
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 85px;
        padding: 0 25px;

        .about-text {
            padding-top: 0;
        }
    }

    .about {
        .content {
            .row {
                .col {
                    flex: 1 0 45%;
                }
            }
        }
    }

    .products {
        .content {
            .row {
                .col {
                    flex: 1 0 45%;
                    margin: 15px;
                }
            }
        }

        &.page {
            .about-wrap {
                margin-bottom: -15px;
                height: 105px;
            }

            .content {
                .wrap {
                    .files-row {
                        flex: 1 0 50%;
                        flex-wrap: nowrap;
                        margin-left: 15px;
                        margin-top: 0;

                        .file-link {
                            flex: 1 0 45%;
                        }
                    }
                }
            }

            .cert {
                .img-block {
                    text-align: center;

                    img {
                        width: unset;
                    }
                }
            }
        }
    }

    .news {
        .content {
            .row {
                .col {
                    flex: 1 0 30%;
                    margin: 0 15px;

                    &:first-of-type {
                        margin-left: 0;
                    }

                    &:nth-of-type(2) {
                        margin-right: 0;
                    }
    
                    &:last-of-type {
                        display: none;
                    }
                }
            }

            .news-wrap {
                .img-block {
                    margin-right: 30px;
                }
            }
        }
    }

    .jobs {
        .content {
            .content-col {
                &:nth-of-type(2) {
                    .container {
                        flex-wrap: nowrap;
                    }

                    .wrap {
                        padding-left: 0;
                        margin-top: 0;
                        margin-left: 65px;
                    }
                }
            }
        }
    }

    .waranty {
        .content {
            .content-col {
                .files-row {
                    .file-link {
                        margin: 0 35px;
                    }
                }

                &:nth-of-type(2) {
                    .container {
                        .text-wrap {
                            margin-top: 0;
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
    }

    .contacts {
        .row {
            .left-block {
                flex: 0 0 60%;
            }

            .right-block {
                flex: 0 0 40%;
                margin-top: 0;
            }
        }
    }

    .footer {
        .container {
            .right-col {
                flex: 1 0 45%;
                margin-top: 0;

                .col {
                    &:nth-of-type(2) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        .top-wrap {
            .right-col {
                .wrap {
                    max-width: 280px;

                    .col {
                        display: block;
                        padding-top: 5px;
                    }
                }
            }
        }
    }

    .main {
        .content {
            .row {
                .col {
                    .search__inner {
                        .wrap {
                            .search__form {
                                .search__input {
                                    max-width: 260px;
                                }
                            }
                        }
                    }
                }

                &:first-of-type, &:nth-of-type(2) {
                    .col {
                        flex: 1 0 45%;

                        &:first-of-type {
                            margin-right: 15px;
                        }
    
                        &:last-of-type {
                            margin-top: 0;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }

    .files-row {
        .file-link {
            flex: 1 0 45%;
            margin-top: 0;
            white-space: nowrap;
        }
    }

    .about {
        .content {
            .row {
                .col {
                    flex: 1 0 30%;
                }
            }
        }
    }

    .products {
        .content {
            .row {
                .col {
                    &:nth-of-type(odd) {
                        margin-left: 0;
                    }

                    &:nth-of-type(even) {
                        margin-right: 0;
                    }
                }
            }
        }

        &.page {
            .about-wrap {
                height: 85px;
            }
        }
    }

    .news {
        .content {
            .row {
                .col {
                    &:nth-of-type(2) {
                        margin-right: 15px;
                    }

                    &:last-of-type {
                        display: block;
                        margin-right: 0;
                    }
                }
            }
        }

        &.page {
            .content {
                .title {
                    font-size: 22px;
                }
            }
        }
    }

    .contacts {
        .row {
            .left-block {
                flex: 0 0 70%;
                .col {
                    .title {
                        flex: 0 0 40%;
                    }
                }

                .col-inner {
                    margin-top: 0;
                }
            }

            .right-block {
                flex: 0 0 30%;
            }
        }
    }
}

@media (min-width: 1115px) {
    .header {
        .navbar {
            .container {
                display: block !important;
                height: unset;
                padding: 0 15px;
            }

            .nav-menu {
                padding: 0 15px;

                .nav-item {
                    .nav-link {
                        padding: 18px;
                    }

                    .search-open {
                        display: none;
                    }

                    &.search {
                        max-width: 210px;
                        margin-right: 20px;

                        .nav-search {
                            position: relative;
                            top: 0;
                            padding: 0;
                            display: block;
                            background: transparent;

                            button {
                                right: 10px;
                            }
                        }

                        .search-close {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .main {
        .container {
            padding: 0;
        }

        .content {
            .row {
                &:first-of-type {
                    .col {
                        margin-bottom: 0 !important;
                    }
                }

                &:last-of-type {
                    .col {
                        max-width: 255px;
                        margin: 0 15px !important;


                        &:first-of-type {
                            margin-left: 0 !important;
                        }
    
                        &:last-of-type {
                            margin-right: 0 !important;
                        }
                    }
                }
            }
        }
    }

    .products {
        .content {
            .row {
                .col {
                    height: 385px;
                }
            }
        }
    }

    .jobs {
        .content {
            .content-col:nth-of-type(2) {
                .img-block {
                    position: relative;
                    right: 110px;
                }

                .wrap {
                    margin-left: 0;
                }
            }
        }
    }

    .footer {
        .container {
            .right-col {
                flex: 0 0 45%;
                padding-top: 20px;
            }
        }
    }
}