.news {
    .content {
        padding-top: 50px;
        padding-bottom: 85px;

        a.news-link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

        .date {
            opacity: 0.6;
        }

        .row {
            display: flex;
            flex-wrap: wrap;

            .col {
                position: relative;
                flex: 1 0 100%;
                margin: 15px 0;
                border-radius: 5px;
                box-shadow: 0 0 4px rgb(0 0 0 / 20%);
                overflow: hidden;

                .img-block {
                    position: relative;
                    height: 250px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                    
                    .overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        visibility: hidden;
                        opacity: 0;
                        background: rgba($color: $color-3, $alpha: 0.3);
                        transition: .1s ease;
                    }
                }

                .divider {
                    width: 100%;
                    height: 2px;
                    margin-top: 3px;
                }

                .col-wrap {
                    padding: 20px;
                    padding-top: 0;

                    .title {
                        margin-top: 20px;
                        color: $color-2;
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: none;
                    }

                    .date {
                        margin-top: 10px;
                    }
                }

                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:hover {
                    background: $color-5;
                    box-shadow: none;

                    .img-block {
                        .overlay {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            &:last-of-type {
                justify-content: flex-start;
                margin-top: 60px;

                .news-other {
                    position: relative;
                    display: flex;
                    margin-bottom: 25px;
                    font-size: 16px;

                    .date {
                        margin-right: 10px;
                        font-size: 14px;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .news-wrap {
            margin-top: 45px;

            .img-block {
                position: relative;
                float: unset;
                height: 250px;
                margin-bottom: 30px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .date {
                font-size: 16px;
            }
        }
    }

    &.page {
        .content {
            padding-top: 45px;
            padding-bottom: 70px;

            .title {
                font-size: 18px;
            }
        }
    }
}