.news {
    padding-top: 25px;
    padding-bottom: 40px;
    background: $color-10;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        .col {
            flex: 0 0 100%;
            height: max-content;
            margin: 15px 0;

            .news__img-col {
                height: 100%;
                max-height: 225px;

                .news__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .news__title {
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
            }

            .news__content {
                margin-top: 10px;

                .news__text {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    margin: 15px 0;
                    overflow: hidden;
                    line-height: 20px;
                }
            }

            .news__date {
                display: flex;
                align-items: center;
                font-size: 13px;

                span {
                    margin-right: 3px;
                    font-size: 16px;
                }
            }

            .col-title {
                margin-bottom: 10px;
            }

            .wrap {
                display: flex;
                flex-wrap: wrap;

                .other-col {
                    flex: 0 0 100%;
                    margin: 15px 0;

                    .news__title {
                        display: block;
                        margin-top: 15px;
                    }
                }
            }

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                max-width: unset;
                flex: 0 0 100%;
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}

.news-page {
    .section-title {
        font-size: 20pt;
        color: $color-2;
        text-transform: unset;
    }

    .row {
        flex-wrap: wrap !important;
        justify-content: space-between;
        margin-top: 20px !important;

        .col {
            flex: 1 0 100% !important;
            margin: 15px 0 !important;
            border: 1px solid rgba($color: $color-7, $alpha: 0.2);

            .news__content {
                margin-top: 0 !important;
                padding: 25px 10px;
            }
        }
    }
}