.files-row {
    display: flex;
    flex-wrap: wrap;

    .icon {
        margin-right: 15px;
        height: 30px;

        img {
            height: 100%;
        }
    }
    
    .file-link {
        display: flex;
        align-items: center;
        flex: 0 0 100%;
        margin-top: 15px;
        color: $color-3;
        font-size: 16px;
        text-decoration: underline !important;
        

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.products {
    .content {
        .container {
            padding: 0;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-top: 35px;
            margin-bottom: 65px;

            .col {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1 0 100%;
                max-width: 540px;
                padding: 20px 25px 30px 25px;
                margin: 15px;
                text-align: center;
                border-radius: 5px;
                box-shadow: 0 0 4px rgb(0 0 0 / 20%);

                .prod-link {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                .img-block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 85px;
                }

                .divider {
                    width: 125px;
                    height: 2px;
                }

                .title {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    color: $color-2;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: none;
                }

                .divider {
                    margin: 0 auto;
                }

                .text {
                    margin-top: 20px;
                    margin-bottom: 30px;
                    font-size: 16px;
                    text-align: left;
                }

                &:hover {
                    background: $color-5;
                }
            }
        }
    }

    &.page {
        .content {
            padding-top: 70px;
            padding-bottom: 55px;

            .container {
                padding: 0 15px;
            }

            .img-block {
                max-width: 300px;
                margin: 0 auto;
                margin-bottom: 60px;
            }

            .wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .prod_link {
                    font-size: 18px;
                    font-weight: 500;
                    color: $color-3;
                }

                .files-row {
                    flex: 1 0 100%;
                    max-width: 445px;
                    flex-wrap: wrap;
                    margin-top: 30px;

                    .file-link {
                        font-size: 14px;
                    }
                }
                
            }

            .text-wrap {
                margin-top: 60px;
            }
        }

        .cert {
            padding: 65px 0;
            background: #fafafa;

            .img-block {
                img {
                    width: 100%;
                }
            }
        }
    }
}