.subscribe {
    padding-top: 30px;
    padding-bottom: 25px;
    background: #fafafa;

    .section-title {
        font-size: 28px;
        text-align: center;
        text-transform: unset;
    }

    .container {
        max-width: 1522px;
    }

    .form-sub {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;

        .col {
            flex: 0 0 100%;
            height: 50px;
            margin: 5px 0;

            .form-sub__input {
                width: 100%;
                height: 100%;
                padding: 0 15px;
                font-size: 15px;
                border: none;
                box-shadow: 0 2px 3px rgba($color: $color-2, $alpha: 0.3);
                outline: none;
            }

            .form-sub__btn {
                font-weight: 600;
                color: $color-1;
                background: $color-5;
                border: none;
                box-shadow: none;
                cursor: pointer;
            }

            &.lic-col {
                flex: 0 0 100%;
                height: inherit;
                margin-top: 25px;

                .form-sub__chkbox {
                    display: none;
                }

                input:checked ~ label::before {
                    content: '\e5ca';
                    color: $color-1;
                    background: $color-5;
                }

                label {
                    color: $color-2;

                    a {
                        margin-left: 5px;
                        color: $color-5;
                    }

                    &::before {
                        content: '';
                        font-family: 'Material Icons';
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        float: left;
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                        font-size: 20px;
                        border: 1px solid $color-5;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}