.works {
    .page-header {
        padding: 70px 0;
        background: $color-10;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .col {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 0 0 100%;
                margin: 15px 0;

                .title {
                    position: relative;
                    padding-bottom: 15px;
                    font-size: 19pt;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 45px;
                        right: 45px;
                        bottom: 0;
                        height: 1px;
                        background: rgba($color: $color-7, $alpha: 0.2);
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;

                    .text {
                        max-width: 240px;
                        margin-top: 20px;
                        font-size: 13pt;
                        font-weight: 300;
                        line-height: 21pt;
                    }
                }
            }
        }
    }

    .warranty {
        padding-top: 80px;
        padding-bottom: 35px;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .left-block {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex: 0 0 100%;

                .col {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 465px;
                    width: 100%;
                    height: 185px;
                    margin: 5px 5px;
                    padding: 15px;
                    background: #f4f7f9;
                    border: 1px solid #d7dbdd;

                    .content {
                        margin-left: 30px;

                        .title {
                            font-size: 16pt;
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        .text {
                            font-size: 13pt;
                        }

                        .link {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }

            .right-block {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 40px;

                .section-title {
                    margin-bottom: 60px;
                    font-size: 16pt;

                    span {
                        display: block;
                        margin-top: 25px;
                    }
                }

                .text {
                    font-size: 14pt;
                    font-weight: 300;
                    color: $color-7;

                    &:first-of-type {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

    .installation {
        padding-top: 30px;
        padding-bottom: 90px;

        .container {
            display: flex;
            flex-direction: column-reverse;

            .left-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 0 0 100%;
                margin-top: 30px;

                .text {
                    margin-bottom: 30px;
                    font-size: 13pt;
                    font-weight: 300;
                    color: $color-7;
                    line-height: 19pt;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            .right-block {
                position: relative;
                padding-left: 45px;

                .img-block {
                    max-width: 350px;
                    height: 165px;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                .section-title {
                    margin-top: 30px;
                    font-size: 18pt;
                    line-height: 28pt;

                    .icon {
                        position: absolute;
                        left: 0;
                        margin-top: 0;
                        color: $color-12;
                        font-size: 26px;
                    }

                    span {
                        display: block;
                        margin-top: 25px;
                    }
                }
            }
        }
    }

    .data {
        padding-top: 65px;
        padding-bottom: 95px;
        background: $color-10;

        .container {
            display: flex;
            flex-direction: column;

            .left-block {
                flex: 0 0 100%;

                .section-title {
                    font-size: 16pt;
                }    

                .col {
                    display: flex;
                    align-items: center;
                    padding-top: 35px;
                    margin-top: 30px;

                    .link {
                        font-size: 13pt;
                        padding-left: 40px;
                    }
                }
            }

            .right-block {
                margin-top: 30px;

                .text {
                    font-size: 14pt;
                    font-weight: 300;
                    color: $color-7;

                    &:last-of-type {
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    .desc {
        position: relative;
        padding-top: 85px;
        padding-bottom: 40px;

        .container {
            display: flex;
            flex-direction: column-reverse;

            .left-block {
                flex: 0 0 100%;
                margin-top: 40px;

                .text {
                    margin-bottom: 30px;
                    font-size: 13pt;
                    font-weight: 300;
                    color: $color-7;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            .right-block {
                flex: 0 0 100%;

                .img-block {
                    max-width: 515px;
                    width: 100%;
                    height: 385px;
                    margin: 0 auto;
                    background: rgba($color: $color-3, $alpha: 0.8);
                }
            }
        }
    }

    .consider {
        padding-top: 40px;
        padding-bottom: 60px;

        .container {
            display: flex;
            flex-direction: column;

            .left-block {
                display: flex;
                justify-content: center;
                flex: 0 0 100%;
                margin-right: 0;

                .img-block {
                    max-width: 280px;
                    width: 100%;
                    height: 280px;
                    background: rgba($color: $color-3, $alpha: 0.8);
                }
            }

            .right-block {
                flex: 0 0 100%;
                margin-top: 30px;

                .section-title {
                    font-size: 16pt;
                    
                    span {
                        display: block;
                        margin-top: 20px;
                    }
                }

                .text {
                    margin-top: 30px;
                    font-size: 13pt;
                    font-weight: 300;
                    color: $color-7;
                }
            }
        }
    }
}