//BASE
@import 'includes/base/_fonts';
@import 'includes/base/_vars';
@import 'includes/base/_body';

// MODULES
@import 'includes/modules/header';
@import 'includes/modules/banner';
@import 'includes/modules/about';
@import 'includes/modules/manufacturers';
@import 'includes/modules/works';
@import 'includes/modules/contacts';
@import 'includes/modules/docs';
@import 'includes/modules/advans';
@import 'includes/modules/partners';
@import 'includes/modules/news';
@import 'includes/modules/subscribe';
@import 'includes/modules/footer';
@import 'includes/modules/media';