* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    color: $color-2;
}

.container {
    max-width: 1115px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 22px;
    color: $color-3;
    text-transform: uppercase;
}

.divider {
    margin-left: 0;
    background: $color-6;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $color-2;
    text-decoration: none !important;
}

p {
    margin: 0;
}

input, label, textarea {
    font-family: 'Roboto', Arial, sans-serif;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: $color-2;
}