$color-1: #ffffff;
$color-2: #000000;
$color-3: #283853;
$color-4: #2a3778;
$color-5: #fb0040;
$color-6: #1b1f2a;
$color-7: #7f7f7f;
$color-8: #182744;
$color-9: #263854;
$color-10: #f6f7fb;
$color-11: #e4e5e8;
$color-12: #f9ce22