.navbar {
    padding: 0;
    background-color: $color-3;

    .container {
        max-width: 1105px;
        display: block !important;
    }

    .nav-search {
        max-width: 260px;
        width: 100%;
        position: relative;

        .search__input {
            width: 100%;
            height: 30px;
            padding-left: 15px;
            font-size: 14px;
            outline: none;
            border: none;
            border-radius: 5px;
        }

        .icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: $color-4;
        }
    }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .nav-item {
            .nav-link {
                display: flex;
                justify-content: center;
                padding: 18px;
                width: max-content;
                font-size: 14px;
                font-weight: 500;
                color: $color-1;
                text-transform: uppercase;

                &:hover, &.active {
                    color: $color-6;
                }
            }

            &.search {
                flex: unset;
                max-width: 260px;
                width: 100%;

                .nav-search {
                    display: none;
                }
            }
        }
    }
}